.darkTealBg {
  background-color: #05161a;
}
.tealBg {
  background-color: #072e33;
}
.bannerBg {
  background-image: url("../public/banner\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.transparentTealBg {
  background-color: #05161ae1;
  border: 2px #0f969c solid;
}
.courseBg {
  background-image: url("../public/banner\ 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tealTransparentBg {
  background-color: #072e33d3;
}
